option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: destindelta.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: destindelta.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    "/admin/":
      proxy_set_header: "Content-Length" "0"
  aws:elasticbeanstalk:environment:proxy:passenger_app:
    PassengerMaxRequestEntitySize: 52428800 # Change this value to the maximum allowed size that you need
    