option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: destindelta.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: destindelta.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
   aws:elasticbeanstalk:container:python:django:
    DJANGO_SETTINGS_MODULE: destindelta.settings
    DB_ENGINE: django.db.backends.sqlite3
    DB_NAME: /opt/python/current/app/db.sqlite3
